 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background: #fff;
 }

 header {
     background: #3a2f4a;
     color: white;
     padding: 15px 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .header {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .header-logo {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     transform: scale(1.6);
     transform-origin: center;
 }

 .titulo {
     font-size: 22px;
     font-weight: bold;
 }

 nav {
     margin-left: 700px;
 }

 nav a {
     color: white;
     margin-left: 30px;
     text-decoration: none;
     font-size: 20px;
     font-weight: 400;
 }

 .pfp {
     width: 45px;
     height: 45px;
 }

 .titulo-pagina {
     text-align: center;
     color: #e84c3d;
     font-size: 48px;
 }

 .cards-container {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 50px;
     padding: 20px;
     flex-wrap: wrap;
 }

 .card {
     background-color: #cfcfcf;
     border-radius: 30px;
     padding: 30px;
     width: 320px;
     text-align: left;
     position: relative;
     margin-top: 100px;
 }

 .card.meio {
     margin-top: 280px;
 }

 .card h2 {
     color: #e84c3d;
     font-size: 32px;
     margin-bottom: 20px;
     margin-top: 0;
     display: flex;
     justify-content: space-between;
 }