        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #fff;
        }

        header {
            background: #4e5370;
            color: white;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transform: scale(1.6);
            transform-origin: center;
        }

        .titulo {
            font-size: 22px;
            font-weight: bold;
        }

        nav {
            margin-left: 700px;
        }

        nav a {
            color: white;
            margin-left: 30px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
        }

        .pfp {
            width: 45px;
            height: 45px;
        }

        .titulo2 h2 {
            font-size: 28px;
            margin-bottom: 5px;
            margin-left: 650px;
        }

        .subtitulo {
            font-size: 15px;
            margin-top: -8px;
            margin-left: 700px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;
            padding: 20px 40px;
            margin-top: 40px;
        }

        .esquerda {
            width: 25%;
            text-align: left;
            font-size: 20px;
            line-height: 1.5;
            margin-top: 100px;
        }

        .scanner img img {
            max-width: 450px;
            margin-top: 85px;
        }

        .scanner-right {
            width: 30%;
            text-align: left;
            font-size: 20px;
        }

        .scanner-right ul {
            margin-top: 5px;
            padding-left: 20px;
            line-height: 1.6;
        }