        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #fff;
        }

        header {
            background: #4e5370;
            color: white;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transform: scale(1.6);
            transform-origin: center;
        }

        .titulo {
            font-size: 22px;
            font-weight: bold;
        }

        nav {
            margin-left: 700px;
        }

        nav a {
            color: white;
            margin-left: 30px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
        }

        .pfp {
            width: 45px;
            height: 45px;
        }

        h1 {
            text-align: center;
            color: #e84c3d;
            font-size: 48px;
        }

        .container {
            padding: 20px 40px;
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 150px;
        }

        .perfilg {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .logo {
            width: 150px;
            height: 150px;
            margin-right: 25px;
        }

        .nome-banda {
            font-size: 28px;
        }

        .descricao p {
            font-size: 24px;
            line-height: 1.6;
        }