            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background: #fff;
            }

            header {
                background: #4e5370;
                color: white;
                padding: 15px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .header {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .header-logo {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                transform: scale(1.6);
                transform-origin: center;
            }

            .titulo {
                font-size: 22px;
                font-weight: bold;
            }

            nav {
                margin-left: 700px;
            }

            nav a {
                color: white;
                margin-left: 30px;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
            }

            .pfp {
                width: 45px;
                height: 45px;
            }
                        
            .container {
                display: flex;
                justify-content: center;
                margin-top: 80px;
            }

            .profile {
                background-color: #4e5370;
                color: white;
                padding: 40px;
                width: 400px;
                height: 400px;
                margin-right: 550px;
                margin-top: 120px;
            }

            .menu-item {
                margin-bottom: 40px;
            }

            .section-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
                color: white; 
                margin-top: 0; 
            }

            .action-link {
                display: block;
                color: #e84c3d;
                text-decoration: none;
                font-size: 16px;
                margin-top: 8px;
                margin-left: 0;
            }

            .action-link:hover {
                text-decoration: underline;
            }

            .section-display select {
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                border: none;
                font-size: 18px;
                margin-top: 8px;
            }

            .profile-image-display {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 50px; 
            }

            .large-profile-icon {
                width: 400px; 
                height: 400px;
                margin-right: 150px;
            }