        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #fff;
        }

        header {
            background: #3a2f4a;
            color: white;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .header-logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transform: scale(1.6);
            transform-origin: center;
        }

        .titulo {
            font-size: 22px;
            font-weight: bold;
        }

        nav {
            margin-left: 700px;
        }

        nav a {
            color: white;
            margin-left: 30px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
        }

        .pfp {
            width: 45px;
            height: 45px;
        }

        h1 {
            text-align: center;
            margin-top: 40px;
            font-size: 28px;
            color: #b03838;
        }

        .container {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            padding: 0 40px;
        }

        .p {
            margin-left: 250px;
            color: #005caa;
        }


        .left,
        .right {
            width: 500px;
        }

        .left img,
        .right img {
            width: 950px;
            max-width: 400px;
        }

        .artist-list {
            margin-top: 20px;
        }

        .artist {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 24px;
        }

        .artist img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .artist span {
            font-weight: bold;
            margin-right: 30px;
        }

        a {
            margin-left: 250px;
            color: #005caa;
        }