body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}

.site-header {
    background-color: #4e5370;
    height: 100px;
}

.nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 65px;
}

.nav a:hover {
    color: #ff5912;
}

.logo-img {
    width: 170px;
}

.footer {
    margin-top: auto;
    position: relative;
    color: black;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #4e5370;
}