body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header {
    background: #4e5370;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: scale(1.6);
    transform-origin: center;
}

.titulo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    margin-left: 700px;
}

nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.pfp {
    width: 45px;
    height: 45px;
}

h1 {
    text-align: center;
    color: #e84c3d;
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 0 40px;
    align-items: flex-start;
}

.left {
    width: 450px;
}

.p {
    margin-left: 250px;
    color: #005caa;
}

.artist-list {
    margin-top: 20px;
    margin-left: 150px;
}

.artist {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.artist img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}

.artist span {
    font-weight: bold;
    margin-right: 30px;
}

.sm {
    margin-left: 200px;
}

.legenda {
    max-width: 550px;
    margin-top: 250px;
    margin-right: 50px;
}

.legenda h2 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    margin-left: 150px;
}